In [136]:
strsample='learning'    #string

In [137]:
print(strsample)

learning

In [138]:
list=[1,2,3,4,5,6]  #list with numbers

In [139]:
list=[1,2,3,4,5,6]

In [140]:
print(list)

[1, 2, 3, 4, 5, 6]

In [141]:
list=[1,2,3,'a','saff']   #list with multiple datatypes

In [142]:
print(list)

[1, 2, 3, 'a', 'saff']

In [143]:
from array import *  #import array module

In [144]:
arrsample=array('i',[1,2,3,4])

In [145]:
print(arrsample)

array('i', [1, 2, 3, 4])

In [146]:
for x in arrsample:print(x)   #printing values of array

1
2
3
4

In [147]:
tupsample=(1,2,3,4,'py') #tuple values cannot be changed once  assigned

In [148]:
print(tupsample)

(1, 2, 3, 4, 'py')

In [149]:
for x in tupsample:print(x)

1
2
3
4
py

In [150]:
tuplesamp=1,2,3,'sample'   #tuple packing

In [151]:
print(tuplesamp)

(1, 2, 3, 'sample')

In [335]:
dictsample={1:'first','second':2,3:3,'four':'4'} #dictionary contains values in pairs

In [153]:
#creating dictionary using dict function
dict_list=dict([('first',1),('second',2),('third',3)])

In [154]:
dict_list

{'first': 1, 'second': 2, 'third': 3}

In [184]:
set_sample={1,2,3,'data',24,25.8}  #set example can have all data types, it is used to contain non-sequential data

In [185]:
print(set_sample)

{1, 2, 3, 24, 'data', 25.8}

In [186]:
set('example')

{'a', 'e', 'l', 'm', 'p', 'x'}

In [187]:
rangeex=range(1,12,2)

In [188]:
rangeex

range(1, 12, 2)

In [189]:
for x in rangeex:print(x) #range sample

1
3
5
7
9
11

In [190]:
strsample.index('l') #to find index of sub-string 'l' from the string 'learning'

0

In [191]:
strsample.index('ning')

4

In [192]:
strsample[0]  #example of positive indexing

'l'

In [193]:
strsample[1]   #example of positive indexing

'e'

In [194]:
strsample[-1]  #example of negative indexing

'g'

In [195]:
strsample[-8]

'l'

In [314]:
lstsamp=[1,2,3,'samp',2]

In [197]:
lstsamp.index('samp') #example of indexing of list

3

In [198]:
lstsamp[0] #positive indexing in list

1

In [199]:
lstsamp[-1]#negative indexing in list

2

In [200]:
arrsample.index(1)

0

In [201]:
arrsample.index(2)

1

In [202]:
arrsample.index(4)

3

In [203]:
arrsample[0] # example of positive indexing

1

In [204]:
arrsample[-1] # example of negative indexing

4

In [205]:
tupsample[3]

4

In [206]:
tupsample.index('py') #to find position in tuple

4

In [207]:
tupsample[4] #to find element in a tuple at a particular position

'py'

In [208]:
set_sample[4] # cannot perform indexing on set which contains non-sequential data

TypeError: 'set' object is not subscriptable

In [209]:
dictsample[2] #indexing by value is not supported in dictionary

KeyError: 2

In [210]:
dictsample[1] #to find values corresponding to key1

'first'

In [211]:
dictsample['second'] #to find values corresponding to key 'second'

2

In [212]:
rangeex.index(9) #to find index of element in the range

4

In [213]:
rangeex[2]

5

In [214]:
print(strsample)
strsample[slice(1,8,2)] # it will give all the values with index 1 to 7 in step size of 2

learning

'erig'

In [215]:
 strsample[:]

'learning'

In [216]:
print(list)

[1, 2, 3, 'a', 'saff']

In [217]:
print(list[:3]) #start slicing in the beginning and stop inexing value is 3-1=2

[1, 2, 3]

In [218]:
print(list[3:]) #start indexing value is 3 and will stop at the end of the list

['a', 'saff']

In [219]:
print(list[2:4]) #start slicing at index of 2 and top at 4-1=3

[3, 'a']

In [220]:
print(dictsample)

{1: 'first', 'second': 2, 3: 3, 'four': '4'}

In [221]:
set_sample

{1, 2, 24, 25.8, 3, 'data'}

In [222]:
arrsample

array('i', [1, 2, 3, 4])

In [223]:
arrsample[2:4] #slicing of array

array('i', [3, 4])

In [224]:
range(1, 12, 4)

range(1, 12, 4)

In [225]:
for x in rangeex:print(x) #range sample

1
3
5
7
9
11

In [226]:
print(rangeex[1:2])

range(3, 5, 2)

In [227]:
ran=range(1,12,2)

In [228]:
for x in ran:print(x)

1
3
5
7
9
11

In [229]:
print(ran[:-1])

range(1, 11, 2)

In [230]:
print(rangeex[:-1])

range(1, 11, 2)

In [231]:
strsample
print(strsample+' ','python')
print(strsample)
newstring=strsample+'','python'
print(newstring)

learning  python
learning
('learning', 'python')

In [232]:
strsample=('learning')

In [233]:
strsample
print(strsample+' ','python')  # to concatenate two strings
print(strsample)
newstring=strsample+'','python'
print(newstring)

learning  python
learning
('learning', 'python')

In [234]:
print(list)

[1, 2, 3, 'a', 'saff']

In [235]:
list+['py']  #to concatenate two list

[1, 2, 3, 'a', 'saff', 'py']

In [236]:
print(arrsample)

array('i', [1, 2, 3, 4])

In [237]:
arrsample+array('i',[2,3,50,60])

array('i', [1, 2, 3, 4, 2, 3, 50, 60])

In [238]:
print(tupsample)

(1, 2, 3, 4, 'py')

In [239]:
tup=('dsj','djs')

In [240]:
print(tupsample+tup)

(1, 2, 3, 4, 'py', 'dsj', 'djs')

In [241]:
tupsample+=('tuh','oh')

In [242]:
print(tupsample)

(1, 2, 3, 4, 'py', 'tuh', 'oh')

In [243]:
set_sample={1,2,3,'data',24,25.8}
set_sample=set_sample,24            #concatenation on set
print(set_sample)

({1, 2, 3, 24, 'data', 25.8}, 24)

In [244]:
strsample*=3

In [245]:
print(strsample)

learninglearninglearning

In [246]:
print(lstsamp)

[1, 2, 3, 'samp', 2]

In [247]:
lstsamp*2

[1, 2, 3, 'samp', 2, 1, 2, 3, 'samp', 2]

In [248]:
lstsamp[0]*2

2

In [249]:
lstsamp[1]*=2

In [250]:
print(lstsamp)

[1, 4, 3, 'samp', 2]

In [251]:
lstsamp[1:3]*2

[4, 3, 4, 3]

In [252]:
print(lstsamp)

[1, 4, 3, 'samp', 2]

In [253]:
print(tupsample)

(1, 2, 3, 4, 'py', 'tuh', 'oh')

In [254]:
tupsample[1:3]*2

(2, 3, 2, 3)

In [255]:
arrsample*2

array('i', [1, 2, 3, 4, 1, 2, 3, 4])

In [256]:
ran*2 #Mutiplication is not supported in range

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [257]:
strsample='learning is fun'
print(strsample)

learning is fun

In [258]:
strsample.capitalize() #returns the string with first letter capitalized

'Learning is fun'

In [259]:
strsample.casefold() #return a casefold copy of the string(remove all capital letters)

'learning is fun'

In [260]:
strsample.title() #capitalize first character of each word

'Learning Is Fun'

In [261]:
strsample.swapcase() #to swap the case of the strings

'LEARNING IS FUN'

In [262]:
strsample.find('n') #to find position of 'n'

4

In [263]:
strsample.count('n') #to find no of times n occur in the string

3

In [264]:
strsample.replace('fun','jouful') #to replace fun in the string by joyful

'learning is jouful'

In [265]:
strsample.isalnum() #return true if all bytes in the sgtring are alphabetical ASCII characters or ASCII decimal digits

False

In [266]:
name1='GITA'
name2='PVT'
name3='LTD'

In [267]:
name='{} {}. {}.'.format(name1,name2,name3)  
print(name)

GITA PVT. LTD.

In [268]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [269]:
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

In [270]:
print(help(str.find))

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

None

In [271]:
print(strsample)
print(tupsample)
print(lstsamp)
print(arrsample)
print(dictsample)
print(set_sample)
for x in ran:print(x)

learning is fun
(1, 2, 3, 4, 'py', 'tuh', 'oh')
[1, 4, 3, 'samp', 2]
array('i', [1, 2, 3, 4])
{1: 'first', 'second': 2, 3: 3, 'four': '4'}
({1, 2, 3, 24, 'data', 25.8}, 24)
1
3
5
7
9
11

In [272]:
len(strsample)
len(tupsample)  
len(lstsamp)
len(arrsample)
len(ran)

6

In [273]:
lstsamp.clear()
print(lstsamp)

[]

In [274]:
dictsample.clear()
print(dictsample)

{}

In [275]:
set_sample.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [348]:
setsample={1,2,3,'set'}

In [277]:
setsample.clear()

In [278]:
print(setsample)

set()

In [279]:
arrsample.append(3)
print(arrsample)

array('i', [1, 2, 3, 4, 3])

In [280]:
print(lstsamp)
lstsamp.append([2,4])
print(lstsamp)

[]
[[2, 4]]

In [281]:
set_sample.add(20)

AttributeError: 'tuple' object has no attribute 'add'

In [286]:
setsample={1,2,3,24,'data',24,25.8}

In [287]:
setsample.update([5,10])
print(set_sample)

({1, 2, 3, 24, 'data', 25.8}, 24)

In [291]:
print(dictsample)

{1: 'first', 'second': 2, 3: 3, 'four': '4'}

In [299]:
dictsample.update(five=5) #update dictionary with keyvalue pair

In [300]:
print(dictsample)

{1: 'first', 'second': 2, 3: 3, 'four': '4', 'five': 5}

In [301]:
list(dictsample)

TypeError: 'list' object is not callable

In [302]:
len(dictsample)

5

In [304]:
dictsample.keys()

dict_keys([1, 'second', 3, 'four', 'five'])

In [305]:
dictsample.items()

dict_items([(1, 'first'), ('second', 2), (3, 3), ('four', '4'), ('five', 5)])

In [311]:
print(arrsample)
arrsample.insert(15,100)
print(arrsample)

array('i', [1, 100, 100, 100, 100, 2, 3, 4, 3, 100])
array('i', [1, 100, 100, 100, 100, 2, 3, 4, 3, 100, 100])

In [315]:
print(lstsamp)

[1, 2, 3, 'samp', 2]

In [318]:
lstsamp.insert(5,24)

In [319]:
print(lstsamp)

[1, 2, 3, 'samp', 2, 24, 24]

In [324]:
arrsample.pop()

3

In [326]:
print(arrsample)

array('i', [1, 100, 100, 100, 100, 2])

In [327]:
arrsample.pop(3)

100

In [328]:
print(arrsample)

array('i', [1, 100, 100, 100, 2])

In [336]:
print(dictsample)

{1: 'first', 'second': 2, 3: 3, 'four': '4'}

In [337]:
dictsample.pop('second') #removing value of key'second
print(dictsample)

{1: 'first', 3: 3, 'four': '4'}

In [338]:
print(arrsample)

array('i', [1, 100, 100, 100, 2])

In [340]:
arrsample.remove(0)

ValueError: array.remove(x): x not in array

In [341]:
arrsample.remove(2)

ValueError: array.remove(x): x not in array

In [342]:
arrsample.remove(1)

In [343]:
print(arrsample)

array('i', [100, 100, 100])

In [344]:
print(lstsamp)

[1, 2, 3, 'samp', 2, 24, 24]

In [345]:
lstsamp.remove(2)

In [346]:
print(lstsamp)

[1, 3, 'samp', 2, 24, 24]

In [350]:
print(setsample)
setsample.remove(57)

{1, 2, 3, 'set'}

KeyError: 57

In [351]:
del setsample

In [352]:
print(setsample)

NameError: name 'setsample' is not defined

In [366]:
arrsample

array('i', [100, 100, 100, 4, 5, 6, 7, 1, 2, 3, 4, 1, 2, 3, 4])

In [368]:
arrsample.extend((4,5,6,7))

In [369]:
print(arrsample)

array('i', [100, 100, 100, 4, 5, 6, 7, 1, 2, 3, 4, 1, 2, 3, 4, 4, 5, 6, 7])

In [370]:
tupsample2=(1,2,3,4)

In [371]:

print(tupsample2)

(1, 2, 3, 4)

In [372]:
arrsample.extend(tupsample2) #add tuple to the array

In [373]:
print(arrsample)

array('i', [100, 100, 100, 4, 5, 6, 7, 1, 2, 3, 4, 1, 2, 3, 4, 4, 5, 6, 7, 1, 2, 3, 4])

In [374]:
arrsample.extend(strsample) #can add only integer to the array as data type of the array is integer

TypeError: an integer is required (got type str)

In [378]:
arrsample.fromlist([3,4]) #add values of list to the array
print(arrsample)  #print arrsample
arrsample.tolist() #convert values of array to normal list

array('i', [100, 100, 100, 4, 5, 6, 7, 1, 2, 3, 4, 1, 2, 3, 4, 4, 5, 6, 7, 1, 2, 3, 4, 3, 4, 3, 4, 3, 4])

[100,
 100,
 100,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 3,
 4,
 3,
 4,
 3,
 4]

In [379]:
a={1,2,3,'data','hjdsihb'}

In [380]:
b={1,2,3,12,23}

In [381]:
print(a|b)

{1, 2, 3, 12, 23, 'data', 'hjdsihb'}

In [382]:
a.union(b)

{1, 12, 2, 23, 3, 'data', 'hjdsihb'}

In [383]:
print(a&b)

{1, 2, 3}

In [385]:
a.intersection(b)

{1, 2, 3}

In [388]:
import os
import pandas as pd
import numpy as np
os.chdir('C:/Users/krish/Desktop/mayur/Data Science/Week3')
cars_data=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])
cars_data.info()
cars_data['MetColor']=cars_data['MetColor'].astype('object')
cars_data['Automatic']=cars_data['Automatic'].astype('object')
cars_data.info()
cars_data['FuelType'].nbytes
cars_data['FuelType']=cars_data['FuelType'].astype('category')
cars_data['FuelType'].nbytes
cars_data.info()
cars_data['FuelType']=cars_data['FuelType'].astype('object')
cars_data.info()
cars_data['Doors'].replace('three',3,inplace=True)
cars_data['Doors'].replace('four',4,inplace=True)
cars_data['Doors'].replace('five',5,inplace=True)
cars_data.info() #gives complete information of dataframe i.e memory alloacation, data type of each variable
cars_data['Doors']=cars_data['Doors'].astype('int64') #change type of 'Doors' to integer
cars_data.info()
cars_data.isnull().sum() #gives null values in all columns
cars_data.insert(10,"Price_Class","") 
y=len(cars_data['Price'])
print(y)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null float64
Automatic    1436 non-null int64
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 123.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null category
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: category(1), float64(3), int64(3), object(3)
memory usage: 113.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 123.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 123.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null int64
Weight       1436 non-null int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB
1436

In [440]:
i=20000
    
        if cars_data['Price'][i] <=8450: 
            cars_data['Price_Class'][i] ="low"
        elif cars_data['Price'][i] >=11950: 
            cars_data['Price_Class'][i] ="High"
        else:
            cars_data['Price_Class'][i] ="Medium"

IndentationError: unexpected indent (<ipython-input-440-eab2f2e00b58>, line 3)

In [436]:
y=range(2,9,1)

In [438]:
for i in y: print(i)

2
3
4
5
6
7
8

In [447]:
for x in range(5):
    print(x)

0
1
2
3
4

In [1]:

import os
import pandas as pd
import numpy as np
os.chdir('C:/Users/krish/Desktop/mayur/Data Science/Week3')
cars_data=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])
cars_data.info()
cars_data['MetColor']=cars_data['MetColor'].astype('object')
cars_data['Automatic']=cars_data['Automatic'].astype('object')
cars_data.info()
cars_data['FuelType'].nbytes
cars_data['FuelType']=cars_data['FuelType'].astype('category')
cars_data['FuelType'].nbytes
cars_data.info()
cars_data['FuelType']=cars_data['FuelType'].astype('object')
cars_data.info()
cars_data['Doors'].replace('three',3,inplace=True)
cars_data['Doors'].replace('four',4,inplace=True)
cars_data['Doors'].replace('five',5,inplace=True)
cars_data.info() #gives complete information of dataframe i.e memory alloacation, data type of each variable
cars_data['Doors']=cars_data['Doors'].astype('int64') #change type of 'Doors' to integer
cars_data.info()
cars_data.isnull().sum() #gives null values in all columns
cars_data.insert(10,"Price_Class","") 
y=len(cars_data['Price'])
"""
for i in range(y):
  if cars_data['Price'][i]<=8450:
      cars_data['Price_Class'][i]="low"
    elif cars_data['Price'][i]>11950:
        cars_data['Price_Class'][i]="High"
    else:
        cars_data['Price_Class'][i]="Medium"
cars_data.insert(11,"Price1","")
cars_data['Price']
"""
i=0
while i<y:
    if (cars_data['Price'][i])<=8450:
        cars_data['Price_Class'][i]="low"
    elif(cars_data['Price'][i])>11950:
        cars_data['Price_Class'][i]="High"
    else:cars_data['Price_Class'][i]="Medium"
    i=i+1
cars_data['Price_Class'].value_counts() #to get count of unique value in the column

def c_convert(val1,val2):
    val_Converted=val1/12
    ratio=val2/val1
    return[val_Converted,ratio]
        
cars_data['Age_Converted'],cars_data['Km_per_month']=c_convert(cars_data['Age'],cars_data['KM'])
cars_data['Price1']=cars_data['Price']
cars_data['Price_class1']=cars_data['Price_Class']   

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
cars_data1=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])
cars_data2=cars_data1.copy() 
pd.crosstab(index=cars_data2['FuelType'],columns='count',dropna=True)             #to make cross tables_ to see frequency distribution_ to see count of cars of different fuel tupe
pd.crosstab(index=cars_data2['Automatic'],columns=cars_data2['FuelType'],dropna=True)  #to see count of cars of different fuel type and different gear box
pd.crosstab(index=cars_data2['Automatic'],columns=cars_data2['FuelType'],normalize=True,dropna=True)   #to get joint probability
pd.crosstab(index=cars_data2['Automatic'],columns=cars_data2['FuelType'],normalize=True,dropna=True,margins=True) #to get marginal probability
pd.crosstab(index=cars_data2['Automatic'],columns=cars_data2['FuelType'],normalize='index',dropna=True,margins=True) #to get conditional probability with consitions of index
pd.crosstab(index=cars_data2['Automatic'],columns=cars_data2['FuelType'],normalize='columns',dropna=True,margins=True) #to get conditional probability with consitions of columns
numerical_data=cars_data2.select_dtypes(exclude=[object])
print(numerical_data.shape)
corr_matrix=numerical_data.corr()
cars_data3=cars_data1.copy()
cars_data3.dropna(axis=0,inplace=True)
cars_data3.size
cars_data3.shape
plt.scatter(cars_data3['Age'],  cars_data3['Price'],c='red') #scatter plot of Price vs Age
plt.title('Scatter plot of Price vs Age of the cars')
plt.xlabel('Age(months)')
plt.ylabel('Price(Euros)')
plt.show()
plt.hist(cars_data['KM']) #histogram without bin and color selection
plt.title('Histogram of Kilometer')
plt.xlabel('Kilometer')
plt.ylabel('Frequency')
plt.show()
plt.hist(cars_data['KM'],color='green',edgecolor='white',bins=5) #histogram with bin and color selection
plt.title('Histogram of Kilometer')
plt.xlabel('Kilometer')
plt.ylabel('Frequency')
plt.show()
count=cars_data3['FuelType'].value_counts()
count1=count.to_frame()
counts=count1['FuelType']
fueltype=('Petrol','Diesel','CNG')
index=np.arange(len(fueltype))
plt.bar(index,counts,color=['red','blue','cyan'])
plt.title('Bar plot for fuel types')
plt.xlabel('fuel types')
plt.ylabel('frequency')
plt.show()

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:/Users/krish/Desktop/mayur/Data Science/Week3'

In [2]:
import os

In [4]:
os.chdir('C:/Users/krish/Desktop/mayur/Data Science_NPTEL')